/* COLORS 
white: #FFFFFF
beige: #F0EDDE
pale green: #E1F4F1
dark green: #2B7E7A
dark brown/font: #515855 */

/**** GENERAL *******************************************/
html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-family: "josefin sans", sans-serif;
  font-weight: normal;
  color: #515855;
}

h3 {
  font-family: "josefin sans", sans-serif;
  font-weight: 400;
  color: #515855;
}

h4 {
  font-family: "josefin sans", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  color: #515855;
}

p {
  font-family: "optima", serif;
  font-size: 1em;
}

/**** HEADER *******************************************/
#header {
  background-color: white;
  padding-bottom: 1.5em;
}

nav {
  text-align: center;
  padding: 1.75em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.75em;
}

nav ul li {
  display: inline; /*change to float: right; for >768 */
  font-family: "josefin sans", sans-serif; /* for lines */
  color: #2b7e7a; /* for lines */
  padding: 10px;
  /* font-size: 0.65em; */
}

nav li a {
  /* display: block;  turn on for >768> */
  color: #2b7e7a;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: solid underline #2b7e7a 1px;
}
#logo {
  background-image: url("../img/logowithname@2x.png");
  /* background-size: 70%; */
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 290px;
  /* margin-bottom: 1.5em; */
}

/* *** HAMBURGER NAV FOR SCREENS <342 ******************************************/
.mobile-container {
}

.topnav {
  overflow: hidden;
}

/* Hide the links inside the navigation menu until click*/
.topnav #myLinks {
  display: none;
}

/* Style nav menu links */
.topnav a {
  color: #2b7e7a;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 0.75em;
  font-family: "josefin-sans", sans-serif;
  text-align: center;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  font-size: 1.5em;
  top: 0;
}

/*Style the active links */
.active {
  color: #2b7e7a;
}

/* Hide the main nav menu on screens <342 */
@media screen and (max-width: 341px) {
  header nav {
    display: none;
  }
}

/* Hide hamburger menu on screens >341 */
@media screen and (min-width: 342px) {
  .mobile-container {
    display: none;
  }
}

/**** INTRO *******************************************/
#intro {
  background-color: #f0edde;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

#intro h3 {
  padding-left: 10%;
  padding-right: 10%;
}

.button {
  margin: 1em;
  padding: 1em;
}

.email-link {
  font-family: "optima", serif;
  font-size: 1em;
  color: white;
  background-color: #2b7e7a;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

/**** ABOUT *******************************************/

#about {
  overflow: auto;
}

#about h1 {
  text-align: right;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}
#about .about-text {
  background-color: #e1f4f1;
  padding: 2em;
  width: 80%;
  float: right;
  /* display: flex; for photo placement */
}

.about-text p {
  color: #2b7e7a;
}

/* .photo {
  flex to float end and left
} */

/**** SERVICES *******************************************/
#services {
  clear: both;
  margin-top: 5%;
  margin-bottom: 8%;
}

#services h1 {
  width: 75%;
  height: 35px;
  background-color: #2b7e7a;
  color: white;
  padding-top: 0.35em;
  padding-bottom: 0.2em;
  padding-left: 0.75em;
}

/*icon text style */
/* .icons li {
  text-align: center;
  color: #2b7e7a;
  font-family: "josefin sans", sans-serif;
  font-size: 1.5em;
  display: block;
  text-decoration: none;
} */

/*icon style */

.icons {
  margin-top: 30px;
}

.icons img {
  margin: 30px auto;
  display: block;
  padding: 10px;
}

#info {
  background-color: #f0edde;
  padding: 2.25em;
}

#info h4 {
  background-color: white;
  border: 1px solid #2b7e7a;
  text-align: center;
  padding: 0.35em;
}

#info p {
  color: #515855;
}

/**** CONNECT *******************************************/
#connect {
  padding-top: 0.5em;
  text-align: center;
}

.contact-info {
  margin: 1.5em 1.5em 0 1.5em;
}

#connect a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-family: "optima", serif;
  color: #515855;
}

#connect a:hover {
  text-decoration: solid underline #2b7e7a 31px;
  color: #2b7e7a;
}
/* Contact Form */

#fs-frm {
  font-family: "optima", serif;
  margin-bottom: 30px;
  color: #2b7e7a;
}

#fs-frm-inputs {
  border: none;
}

label {
  display: none;
}

input,
textarea {
  display: block;
  padding: 5px;
  border: 2px solid #2b7e7a;
  background-color: #e1f4f1;
  margin: 20px auto;
}

#full-name,
#email-address {
  width: 50%;
}

#message {
  width: 70%;
  margin-bottom: 0;
}

#button {
  width: 80px;
  height: 35px;
  color: white;
  background-color: #2b7e7a;
  border-radius: 10px;
  text-decoration: none;
  margin: auto;
}

/* Social Icons */
.social-media {
  margin-top: 50px;
}

.fab {
  width: 70px;
  font-size: 40px;
  text-align: center;
  color: #2b7e7a;
  background: white;
}

/**** FOOTER *******************************************/

footer {
  padding: 2em;
}

footer p {
  color: #515855;
  text-align: center;
  margin: 0;
  padding: 5px;
}

/* TABLET ****************************************************/
@media screen and (min-width: 768px) {
  /*  INSERT HORIZONTAL LOGO UPON CLIENT REVISION */
  /*Need to fix how words are next to logo instead of under */
  nav ul li {
    float: right; /*change to float: right; for >768 */
  }
  .icons li {
    display: inline;
  }
  .icons img {
    display: inline;
  }
}
